/*  FOOTER   */

.footer {
  border-top: 1px solid #E7E7E7;
  margin-left: 20px;
  margin-right: 20px;
}

.footer ul {
  list-style: none;
  padding: $padding;
  margin: $margin;
}

.student-name {
  font-weight: bold;
  float: left;
  padding: 30px $padding;

  @include tablet {
    font-size: $prim-fontsize;
  }

  @include desktop {
    font-size: $prim-fontsize;
  }
}

.nav {
  @include tablet {
    margin: $margin;
    padding: $padding;
    text-transform: uppercase;
    font-size: $prim-fontsize;
  }

  @include desktop {
    margin: $margin;
    padding: $padding;
    text-transform: uppercase;
    font-size: $prim-fontsize;
  }
}

.nav a {
  @include tablet {
    font-weight: 700;
    padding: 10px;
    color: $tundora-grey;
  }

  @include desktop {
    font-weight: 700;
    padding: 10px;
    color: $tundora-grey;
  }
}

.footer-nav .nav li {
  @include tablet {
    background: #D8D8D8;
  }

  @include desktop {
    background: #D8D8D8;
  }
}

/*** BACK TO TOP ***/

.top {
  @include text(12px);
  text-transform: uppercase;
  float: right;
  padding: 30px $padding;

  @include tablet {
    display: none;
  }
  
  @include desktop {
    display: none;
  }

}

.top a {
  font-weight: bold;
}

/** do not display footer nav in mobile **/
.footer-nav {
  display: none;

  @include tablet {
    display: block;
    float: right;
    margin-right: 20px;
    padding: 30px $padding;
  }

  @include desktop {
    display: block;
    float: right;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}