/* Descriptive color variables */

$white          : #fff;
$black			: #000;

$linen-pink		: #fdf6f6;
$alabaster		: #fafafa;
$light-grey		: #D2D2D2;
$tundora-grey	: #4A4A4A;
$grey			: #7F7F7F;


/** Functional color variables **/

$color-text-light : $light-grey;
$color-text-base  : $grey;
$color-text-dark  : $tundora-grey;

$color-link-default : $black;

$color-nav-default : $tundora-grey;
$color-nav-hover   : $grey;

$color-body         : $white;


/** margins and padding values **/

$padding: 0px;
$margin: 0;

/** FONT Stacks **/

$stack-sans-serif	: sans-serif;
$stack-open-sans	: "Open Sans", $stack-sans-serif;

/* font sizes */

$prim-fontsize	: 0.8em;
$sec_fontsize	: 1.2em;
$ter_fontsize	: 1em;

$header_size	: 1.5em;


/** Media Query breakpoints **/

$brk-mobile		: 320px;
$brk-tablet		: 768px;
$brk-desktop	: 1024px;