

/* MAIN SECTION */

section {
  background: $color-body;
  padding-top: 40px;
  padding-bottom: 50px;

  @include desktop {
    text-align: center;
    padding-bottom: $padding;
  }
  p {
    line-height: 1.5;
  }
}


.gallery {
  @extend %centered;
  @extend %clearfix;
  margin: $margin 10px;

  @include tablet {
    padding: $padding 10px;
  }

  @include desktop {
    max-width: 1200px;
    display: inline-block;
    width: 100%;
    margin: $margin;
    font-size: 1em;
  }
}

/*  PORTFOLIO   */

.portfolio {
  @extend %centered;

    p {
    font-weight: 300;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;

    @include tablet {
      padding-right: 40px;
      padding-left: 40px;
    }

    @include desktop {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.portfolio h3 {
  font-weight: 500;
  font-size: 1.2em;
  padding-top: 10px;
}

.portfolio h2 {
  @include text(1.2em);
  text-transform: uppercase;
  padding-bottom: 25px;
}


.gallery img {
  width: 100%;
  padding: $padding 15px;
  max-width: 440px;

  @include desktop {
    padding: $padding 5px;
  }
}

.item {
  @include tablet {
    float: left;
    width: 50%;
    height: 400px;
  }

  @include desktop {
    width: 33.33%;
  }
}

/*  SKILLS   */

.skills h2 {
  @include text(1.2em);
  @extend %centered;
  text-transform: uppercase;
  padding-bottom: 25px;
}


